<section class="table">

  <header class="row">
    <nr-cell
         class="column"
         ng-repeat="column in $ctrl.columns track by column.key"
         group-id="nr-table-content"
         title="{{column.label|translate}}"
    >{{column.label|translate}}</nr-cell>
  </header>

  <div class="row"
       ng-if="$ctrl.page.content.length"
       ng-repeat="item in $ctrl.getItems() track by $ctrl.getItemId(item)"
  >
    <nr-cell
         class="column"
         ng-repeat="column in $ctrl.columns track by column.id"
         group-id="nr-table-content"
         title="{{$ctrl.getItemValue(item, column)}}"
    >
      <div class="cell-content"
           ng-if="!$ctrl.isItemCompileAble(column)">{{$ctrl.getItemValue(item, column)}}</div>

      <nr-compile class="cell-content"
                  ng-if="$ctrl.isItemCompileAble(column)"
                  options="$ctrl.getCompileOptions(column, item)"></nr-compile>

    </nr-cell>
  </div>

  <div class="row no-content"
       ng-if="!$ctrl.page.content.length"
       translate="views.table.noContent"></div>

</section>

<footer class="summary">
  <nr-button class="table-prev-button"
             icon="chevron-left"
             ng-disabled="!$ctrl.isPrevPageEnabled()"
             action="$ctrl.goPrevPage()"
  ></nr-button>
  <span class="page-label" translate>views.table.page</span>
  <span class="current-page">{{$ctrl.getCurrentPage()}}</span> /
  <span class="total-pages">{{$ctrl.getTotalPages()}}</span>
  <nr-button class="table-next-button"
             icon="chevron-right"
             ng-disabled="!$ctrl.isNextPageEnabled()"
             action="$ctrl.goNextPage()"
  ></nr-button>
</footer>
